:root{
    --el-color-primary: #626aef !important;
    --el-color-primary-light-3: #5157c5 !important;
    --el-color-primary-dark-2: #4b51b0 !important;
}
body{
    margin: 0;
    padding: 0; 
}

.app-container{
    padding: 30px;
    background-color: #fff;
    height: calc(100vh - 160px);
    border-radius: 6px;
    overflow: auto;
}

.flex-column {
    display: flex;
    width: 100%;
    gap: 10px;
}

.model-input{
    width: 50% !important;
}

.el-form-item, .el-form-item__content{
    width: 100%;
}

.search-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.page-content{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1480px){
    .search-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1024px){
    .search-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 媒体查询 */
@media screen and (max-width: 768px){
    .model-input{
        width: 100% !important;
    }
}